* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

.wrapper{
    margin: 0 auto;
    width: 100%;
}

#app{
    margin: 0 auto;
    min-height: calc(100vh - 100px);
    width: 100%;
}

.nav-bar{
    .white-text{
        color: #fff;
    
    }

}

.blue-text{
    color: #000;
}

.white-line{
    color: #fff;
}
.black-line{
    color: #000;
}

.white-logo{
min-height: 50px;
width: 109px;
background-image: url(../images/logo-white.svg);
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.black-logo{
    min-height: 50px;
width: 109px;
background-image: url(../images/logo-black.svg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}