nav{
    padding: 5px;
    // background-color: $yellow;
    margin: 0 auto;
    height: 100px;
    max-width: $content-width;
    display: flex;
    align-items: center;
    justify-content: space-between;


    

    span{
        color: $pink;
        border-radius: 2px solid;
        font-size: 15px;
        padding-right:10px;
    }

    .nav-bar{
        max-width: 500px;
        
        a{
            color: #000;
            text-decoration: none;
            font-family: Gill Sans;
            font-size: 15px;
            padding-right:10px;
        }
    }

}

hr {
    width: $content-width;
    border: 2px solid;
    margin: 0 auto;
  }
  
  .home-line {
    width: $content-width;
    border: 2px solid;
    margin: 0 auto;
    color: #000;
  }